.content {
    margin-left: 0;
    padding: 20px;
    flex-grow: 1;
}

.navbar-toggler {
    display: block !important;
}

@media (min-width: 768px) {
    .content {
        margin-left: 200px;
    }
}

.login-form {
            background: white;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }

.btn-huge {
            padding: 20px 40px;
            font-size: 24px;
        }