body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, button {
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

#message {
    text-align: center;
    color: red;
}

#openGateButton {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* New container style to center the button horizontally */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

