{% include 'header.html' %}
    <script>
        function toggleUserList() {
            var userList = document.getElementById('userList');
            var toggleButton = document.getElementById('toggleButton');
            if (userList.style.display === 'none') {
                userList.style.display = 'block';
                toggleButton.innerText = 'Hide Users';
            } else {
                userList.style.display = 'none';
                toggleButton.innerText = 'Show Users';
            }
        }
    </script>
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <h2>Add User</h2>
    <form method="POST" action="{{ url_for('admin.admin') }}" class="row g-3">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role:</label>
                <select id="role" name="role" class="form-select" required>
                    {% for role in roles %}
                    <option value="{{ role.value }}">{{ role.value.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form>
    <h2>Users</h2>
    <button id="toggleButton" class="btn btn-secondary mb-3" onclick="toggleUserList()">Show Users</button>
    <ul id="userList" class="list-group">
        {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.username }} - {{ user.role.value.capitalize() }}
            <form method="POST" action="{{ url_for('admin.delete_user', user_id=user.id) }}" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            <form method="POST" action="{{ url_for('admin.change_role', user_id=user.id) }}" class="d-inline">
                <select name="role" class="form-select form-select-sm d-inline-block w-auto" required>
                    {% for role in roles %}
                    <option value="{{ role.value }}" {% if user.role == role %}selected{% endif %}>
                        {{ role.value.capitalize() }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-warning btn-sm">Change Role</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
