{% include 'header.html' %}
</head>
<body>
    {% include 'sidebar.html' %}
     <div class="container mt-5">
    <h1>Enter Gate Code </h1>
        <form id="codeForm" class="row g-3">
            <div class="col-md-6 offset-md-3">
                <div class="mb-3">
                    <label for="code" class="form-label">Code:</label>
                    <input type="text" id="code" name="code" value="{{ code }}" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Open Gate</button>
            </div>
        </form>
        <div id="message" class="mt-3"></div>
    </div>

    <script>
        function formatTime(timeLeft) {
            const daysMatch = timeLeft.match(/(\d+) days/);
            const hoursMatch = timeLeft.match(/(\d+):/);
            const minutesMatch = timeLeft.match(/:(\d+):/);

            const days = daysMatch ? daysMatch[1] : 0;
            const hours = hoursMatch ? hoursMatch[1] : 0;
            const minutes = minutesMatch ? minutesMatch[1] : 0;

            return `${days} days, ${hours} hours, ${minutes} minutes`;
        }

        document.getElementById('codeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const code = document.getElementById('code').value;

            fetch(`/code/${code}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then(response => response.json())
            .then(data => {
                let message = data.message;
                if (data.time_left) {
                    const formattedTime = formatTime(`${data.time_left}`)
                    message += " - Token expires:" + formattedTime;
                }
                document.getElementById('message').htmlContent = message;
            })
            .catch(error => {
                document.getElementById('message').textContent = 'Error: Could not open the gate';
            });
        });
    </script>
</body>
</html>

