{% include 'header.html' %}
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="container d-flex flex-column justify-content-center align-items-center full-height">
        <h1>Welcome, {{ current_user.username }}</h1>
        <div class="button-container mt-3">
            <button id="openGateButton" class="btn btn-primary btn-huge">Open Gate</button>
        </div>
        <div id="message" class="mt-3"></div>
    </div>

    <script>
        document.getElementById('openGateButton').addEventListener('click', function() {
            fetch('/open', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                const button = document.getElementById('openGateButton');
                const message = document.getElementById('message');
                if (data.message === 'Gate opened') {
                    button.classList.remove('btn-primary');
                    button.classList.add('btn-success');
                    message.textContent = data.message;
                } else {
                    button.classList.remove('btn-primary');
                    button.classList.add('btn-danger');
                    message.textContent = 'Error: Could not open the gate';
                }
                setTimeout(() => {
                    button.classList.remove('btn-success', 'btn-danger');
                    button.classList.add('btn-primary');
                    message.textContent = '';
                }, 2000);
            })
            .catch(error => {
                const button = document.getElementById('openGateButton');
                button.classList.remove('btn-primary');
                button.classList.add('btn-danger');
                document.getElementById('message').textContent = 'Error: Could not open the gate';
                setTimeout(() => {
                    button.classList.remove('btn-danger');
                    button.classList.add('btn-primary');
                    document.getElementById('message').textContent = '';
                }, 2000);
            });
        });
    </script>
</body>
</html>

